<% content_for :page_title, @review.title %>

<h1> <%= @review.title %></h1>
<h1> <%= @review.restaurant %></h1>

<div class="score">
  <%= @review.score %> / 10
</div>

<% if @review.ambiance.present? %>
  <div class="ambiance">
    Ambiance: <%= @review.ambiance %>
  </div>
<% end %>

<% if @review.price.present? %>
  <div class="price">
    Price: <%= @review.price%>
  </div>
<% end %>

<% if @review.cuisine.present? %>
  <div class="cusine">
    Cusine: <%= @review.cuisine %>
  </div>
<% end %>

<% if @review.address.present? %>
  <div class="address">
    Address: <%= @review.address %>
  </div>
<% end %>


<div class="body">
  <%= simple_format @review.body %>
</div>


<dev class="actions">
  <%= link_to "Delete this review", review_path(@review), method: :delete, data: {confirm: "Are you sure?"} %>
  <%= link_to "Edit this review", edit_review_path(@review) %>
</dev>
